<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="cancion">
    <img src="https://img.icons8.com/fluent/500/000000/microsoft-groove.png"/>
    <ion-card-header>
      <ion-card-subtitle>Espectadores: {{cancion.listeners}}</ion-card-subtitle>
      <ion-card-title>{{cancion.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Reproducida: {{cancion.playcount}} veces
    </ion-card-content>
  </ion-card>
</ion-content>
