<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>canciones</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of listaDeCanciones; let i = index" [routerLink]="['/detalle', i]" >
      <ion-avatar slot="start">
        <img src="https://img.icons8.com/fluent/48/000000/microsoft-groove.png"/>
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>espectadores: {{item.listeners}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
